{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}
{% block upper-navigation %}
<span class="edit-note">
            <path fill="#c7c700"
                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
        </svg>
        Редактировать Заметку
</span>
{% endblock %}

{% block body %}
<h2>О сайте</h2>
<p>*Здесь должна быть информация о сайте и разработчиках*</p>
<a href="/main/about.html"></a>
{% endblock %}